web/WEB-INF/wsdl/trustcare.itu.dk/DCRGraphVerificationServices/VerificationService.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:import schemaLocation="http://trustcare.itu.dk/DCRGraphVerificationServices/VerificationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ITU.DK.DCRS.CommonTypes.Verification"/><xs:element name="VerifyDCRGraph"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="dcrgraphXml" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="VerifyDCRGraphResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="VerifyDCRGraphResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="VerifyProperty"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="dcrgraphXml" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="propertyXml" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="VerifyPropertyResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="VerifyPropertyResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="Verify"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="dcrgraphXml" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="propertyXml" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="generationSettings" type="q1:VerificationSettings" xmlns:q1="http://schemas.datacontract.org/2004/07/ITU.DK.DCRS.CommonTypes.Verification"/></xs:sequence></xs:complexType></xs:element><xs:element name="VerifyResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="VerifyResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>