src/conf/xml-resources/web-service-references/VerificationService/wsdl/trustcare.itu.dk/DCRGraphVerificationServices/VerificationService.svc.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ITU.DK.DCRS.CommonTypes.Verification" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/ITU.DK.DCRS.CommonTypes.Verification"><xs:import schemaLocation="http://trustcare.itu.dk/DCRGraphVerificationServices/VerificationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/><xs:complexType name="VerificationSettings"><xs:annotation><xs:appinfo><IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType></xs:appinfo></xs:annotation><xs:sequence><xs:element minOccurs="0" name="FullErrorMessage" type="xs:boolean"/><xs:element minOccurs="0" name="GenerateDotFiles" type="xs:boolean"/><xs:element minOccurs="0" name="PrintStatesNotReachable" type="xs:boolean"/><xs:element minOccurs="0" name="PrintVelocitiesinStates" type="xs:boolean"/><xs:element minOccurs="0" name="SkipStrongProperties" type="xs:boolean"/><xs:element minOccurs="0" name="TransposeGraph" type="xs:boolean"/><xs:element minOccurs="0" name="WriteIncludedPendingResponses" type="xs:boolean"/></xs:sequence></xs:complexType><xs:element name="VerificationSettings" nillable="true" type="tns:VerificationSettings"/></xs:schema>